@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* font-family: "Roboto Mono", monospace; */
/*  font-family: "Abel", sans-serif;*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Prompt", sans-serif;
    list-style: none;
    text-decoration: none;
    color: #f4f4f4;
}

body{
    background-color: black;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 3%;
    background-color: transparent;
}

.logo{
    font-family: "Abel", sans-serif;
    font-size: 26px;
    font-weight: 800;
}

.nav-list{
    display: flex;    
}

.nav-list a{
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .5s ease;
}

.nav-list a:hover{
    border-bottom: 2px solid #BFBFBF;
}

#menu-icon{
    display: none;
}
#menu-icon{
    font-size: 26px;
    z-index: 101;
    cursor: pointer;
    display: none;
}
#menu-toggle{
    display: none;
}

main{
    background: #0c0a1d;
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
    margin-bottom: 40px;
}

section{
    padding: 0 8%;
}

.hero-text h1{
    font-family: "Abel", sans-serif;
    font-size: 50px;
    line-height: 1;
    margin: 0 0 30px;
}

.hero-text span{
    font-family: "Roboto Mono", monospace;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 15px;
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 23ch;
    animation: typing 2s steps(20), blink .5s infinite step-end alternate ;
    overflow: hidden;
}
@keyframes typing {
    from{
        width: 0;
    }
}
@keyframes blink {
    50%{
        border: transparent;
    }
}

.hero-text p{
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    margin-bottom: 40px;
    line-height: 1.9;
}


.hero-img img{
    width: 400px;
    height: auto;
    border-radius: 200px;
    border: solid 4px #BFBFBF;
    margin: 10% 0 0 10%;
}

.hero-text a{
    font-family: "Roboto Mono", monospace;
    display: inline-block;
    padding: 10px 20px;
    background-color:#595759 ;
    border: solid 1px transparent;
    padding: 15px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 20px;
    border: solid 1px #BFBFBF;
    text-transform: uppercase;
    transition: all .7s ease;
}

.hero-text a:hover{
    background-color: transparent;
    border: 1px solid #BFBFBF;
    transform: translateX(8px);
}

.icons{
    position: absolute;
    top: 50vh;
    padding: 0 3%;
    transform: translateY(-50%);
}

.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    transition: all .5s ease;
}

.icons i:hover{
    color: #88898C;
    transform: translateY(-5px);
}
.shake-top {
	-webkit-animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 3%;
}
.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    font-weight: 600;
    background-color: #565759;
    border-radius: 30px;
    transition: all .8s ease;
    color: #BFBFBF;
}

.scroll-down i:hover{
    transform: translateY(-5px);
}

.sobreMi{
    align-items: center;
    width: 80vw;
    margin: auto;
    padding: auto;
    background-color: #5957591e;
    margin-bottom: 20px;
    transition: all 5s ease;
    text-align: center;
}
.sobreMi:hover{
    transform: translateY(-8px);
}
.sobreMi h2{
    padding: 10px;
    margin-top:20px ;
    font-family: "Abel", sans-serif;;
}
.sobreMi p{
    font-family: "Roboto Mono", monospace;
    font-size: 80%;
    margin-bottom: 40px;
    line-height: 1.9;
}
/*----------Portfolio--------------*/
.portfolio{
    background-color: #0c0a1d;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    container-name: portfolio;
    container-type: inline-size;
}

.portfolio__title{
    padding: 10px;
    margin-top:20px ;
    font-family: "Abel", sans-serif;;
}
.portfolio__project-container{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1000px;
    margin: auto;
    width: 100%;
    gap: 12px;
    padding: 12px;
    min-height: 90vh;
}
.portfolio__project{
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center;
}
.portfolio__project:nth-child(1){
    background-image: linear-gradient(#0009, #0009), url("../assets/img/Manglar-Arquitectura.png");
}
.portfolio__project:nth-child(2){
    background-image: linear-gradient(#0009, #0009), url("../assets/img/Screenshot\ 2024-11-21\ at\ 14-31-19\ La\ Tienda\ Del\ Rey.png");
}
.portfolio__project:nth-child(3){
    background-image: linear-gradient(#0009, #0009), url("../assets/img/Screenshot\ 2024-11-04\ at\ 15-15-44\ API\ clima.png");
}
.portfolio__project:nth-child(4){
    background-image: linear-gradient(#0009, #0009), url("../assets/img/SocialNetwork.png");
}
.portfolio__project:nth-child(5){
    background-image: linear-gradient(#0009, #0009), url("../assets/img/sancristobalviajes.png");
}
.portfolio__project:nth-child(6){
    background-image: linear-gradient(#0009, #0009), url("../assets/img/sancristobalviajes.png");
}
.portfolio__project:hover{
    opacity: 0.74;
    outline: 2px solid #fff9;
}
/*----------Portfolio queries--------------*/
@container portfolio (min-width: 900px){
    .portfolio__project-container{
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    }
}
/*----------Portfolio end--------------*/


.contacto{
    font-family: "Roboto Mono", monospace;
    width: 80vw;
    min-height: 60vh;
    margin: auto;
    background-color: #5957591e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    container-name: form;
    container-type: inline-size;
}
.form__form{
    flex: 1;
    padding: 12px;
    max-width: 600px;
    width: 100%;
}
.form__input-container :is(input, textarea){
    font-family: "Abel", sans-serif;;
    width: 100%;
    padding: 9px 6px;
    font-size: 16px;
    margin: 4px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #ad9a9ac7;
    margin-bottom: 10px;
}

.contacto h2{
    padding: 10px;
    margin-top:20px ;
    font-family: "Abel", sans-serif;;
}

.form__input-container input,  .form__input-container textarea{

    border-bottom: 1px solid var(--greyLight);
    color: rgb(129, 129, 129);
    background-color: #5957591e;
}
.form__input-container input,  .form__input-container textarea:focus-visible{
    outline: none;
}
.form__input-container label{
    font-family: "Abel", sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.form__input-container textarea{
    resize: none;
    min-height: 120px;
    font-family: inherit;
}


.form__input-container input[type="submit"]{
    background-color: #5957591e;
    color: #fff9;
    font-weight: 800;
    border: 1px solid var(--greyLight);
    border-radius: 2px;
    padding: 12px;
    cursor: pointer;
}



/*------------- contacto queries*/

@container form (min-width: 600px){
.form__form{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "nombreApellido Telefono"
        "ciudad email"
        "mensaje mensaje"
        "submit submit"
    ;
    gap: 12px;
}
.form__input-container:first-child{
    grid-area: nombreApellido;
}
.form__input-container:nth-child(2){
    grid-area: Telefono;
}
.form__input-container:nth-child(3){
    grid-area: ciudad;
}
.form__input-container:nth-child(4){
    grid-area: email;
}
.form__input-container:nth-child(5){
    grid-area: mensaje;
}
.form__input-container:last-child{
    grid-area: submit;
}
/* .form__input-container input[type="submit"]{
    width: 150px;
    margin-left: 210px;
} */
}




@media (max-width:992px){
    section{
        padding: 0 3%;
        transition: .2s;
    }

    
    .hero-text{
        padding-top: 0;
    }
    .hero-img{
        text-align: center;
    }
    .hero-img img{
        width: 80%;
        margin: 10% 0 0 10%;
    }

    .hero-text p{
        font-size: 70%;
    }
    .icons{
        display: none;
    }
    .scroll-down{
        display: none;
    }
}

@media (max-width: 768px){
    .menu-icon-active{
        display: block;
    }
    #menu-icon{
        font-size: 26px;
        z-index: 101;
        cursor: pointer;
        display: block;
    }
    .hero-text{
        text-align: center;
        padding-top: 100px;
    }
    .hero-text span{
        font-size: 20px;
    }
    .hero-text p{
        font-size: 16px;
    }
    .hero-img{
        margin: 0;
        text-align: center;
    }

    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .nav-list{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 180px;
        background-color: #262626e7;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        transition: all .7s ease;
    }
     .nav-list{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .nav-list a{
        display: block;
        margin: 7px 0;
    }

    .nav-list.open{
        right: 0;
    }
}

#trucazo{
    opacity: 0;
}