@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* font-family: "Roboto Mono", monospace; */
/*  font-family: "Abel", sans-serif;*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Prompt", sans-serif;
    list-style: none;
    text-decoration: none;
    color: white;
}

body{
    background-color: black;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 3%;
    background-color: transparent;
}

.logo{
    font-family: "Abel", sans-serif;
    font-size: 26px;
    font-weight: 800;
}

.nav .nav-list{
    display: flex;    
}

.nav-list a{
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .5s ease;
}

.nav-list a:hover{
    border-bottom: 2px solid #BFBFBF;
}

#menu-icon{
    display: none;
}
#menu-icon{
    font-size: 26px;
    z-index: 101;
    cursor: pointer;
}
#menu-toggle{
    display: none;
}

main{
    background: linear-gradient(245.59deg, #88898C 0%, #6F7073 30%, #262626 50%);
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
    margin-bottom: 40px;
}

section{
    padding: 0 8%;
}

.hero-text h1{
    font-family: "Abel", sans-serif;
    font-size: 50px;
    line-height: 1;
    margin: 0 0 30px;
}

.hero-text h5{
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
}

.hero-text p{
    font-family: "Roboto Mono", monospace;
    font-size: 80%;
    margin-bottom: 40px;
    line-height: 1.9;
}


.hero-img img{
    width: 400px;
    height: auto;
    border-radius: 500px;
    border: solid 4px #BFBFBF;
    margin: 10% 0 0 10%;
    transition: all 4s linear;
}

.hero-img img:hover{
    width: 450px;
    opacity: 0.6;
}

.hero-text a{
    font-family: "Roboto Mono", monospace;
    display: inline-block;
    padding: 10px 20px;
    background-color:#595759 ;
    border: solid 1px transparent;
    padding: 15px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 20px;
    border: solid 1px #BFBFBF;
    text-transform: uppercase;
    transition: all .5s ease;
}

.hero-text a:hover{
    background-color: transparent;
    border: 1px solid #BFBFBF;
    transform: translateX(8px);
}

.icons{
    position: absolute;
    top: 50vh;
    padding: 0 3%;
    transform: translateY(-50%);
}

.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    transition: all .5s ease;
}

.icons i:hover{
    color: #88898C;
    transform: translateY(-5px);
}

.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 3%;
}
.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    font-weight: 600;
    background-color: #565759;
    border-radius: 30px;
    transition: all .8s ease;
    color: #BFBFBF;
}

.scroll-down i:hover{
    transform: translateY(-5px);
}

.sobreMi{
    align-items: center;
    width: 80vw;
    margin: auto;
    padding: auto;
    background-color: #5957591e;
    margin-bottom: 20px;
    transition: all 5s ease;
    text-align: center;
}
.sobreMi:hover{
    transform: translateY(-8px);
}
.sobreMi h2{
    padding: 10px;
    margin-top:20px ;
    font-family: "Abel", sans-serif;;
}
.sobreMi p{
    font-family: "Roboto Mono", monospace;
    font-size: 80%;
    margin-bottom: 40px;
    line-height: 1.9;
}

.portfolio{
    text-align: center;
    width: 80vw;
    margin: auto;
    background-color: #5957591e;
}
.portfolio h2{
    padding: 10px;
    margin-top:20px ;
    font-family: "Abel", sans-serif;;
}
article{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

}

.card-porfolio{
    width: 18rem;
    margin: 10px;
    font-family:"Roboto Mono", monospace; ;
}
.card-porfolio figure{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-radius: 6px;
    cursor: pointer;
}

.card-porfolio figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.card-porfolio figure .card-text{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #000000af;
    color: white;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.card-text h3{
    font-family: "Abel", sans-serif;
}
.card-text p{
    font-family: "Roboto Mono", monospace; 
}
.card-text i{
    font-size: 20px;
}

.card-porfolio figure:hover > .card-text{
    opacity: 1;
    visibility: visible;
}
.card-porfolio figure:hover > .card-text h3{
    margin-top: 70px;
    margin-bottom: 15px;
}

.card-porfolio figure:hover > img{
    transform: scale(1.3);
}
.card-porfolio figure .card-text h3{
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}
.card-porfolio figure .card-text p{
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}


.contacto{
    width: 80vw;
    margin: auto;
    background-color: #5957591e;
}

.contacto h2{
    padding: 10px;
    margin-top:20px ;
    font-family: "Abel", sans-serif;;
}





@media (max-width:992px){
    section{
        padding: 0 3%;
        transition: .2s;
    }

    
    .hero-text{
        padding-top: 0;
    }
    .hero-img{
        text-align: center;
    }
    .hero-img img{
        width: 80%;
        margin: 10% 0 0 10%;
    }

    .hero-text p{
        font-size: 70%;
    }
    .icons{
        display: none;
    }
    .scroll-down{
        display: none;
    }
}

@media (max-width: 768px){
    .menu-icon-active{
        display: block;
    }
    #menu-icon{
        display: block;
    }
    .hero-text{
        text-align: center;
        padding-top: 100px;
    }
    .hero-img{
        margin: 0;
        text-align: center;
    }

    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .nav{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 180px;
        background-color: #262626e7;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        transition: all .7s ease;
    }
    .nav .nav-list{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .nav a{
        display: block;
        margin: 7px 0;
    }

    #menu-toggle:checked + label.menu-icon-action + nav{
        right: 0;
    }
}